@media screen and (max-width: 1200px){
    #contact{
        flex-direction: column;
        align-items: center;
    }
    #contact iframe{
        margin: 4rem 0;
        width: 100%;
    }
    #box{
        width: 100%;
    }
}
@media screen and (max-width: 700px){
    nav{
        flex-direction: column;
        height: 227px;
        transition: 0.3s linear;
    }
    .navbar{
        flex-direction: column;
    }
    .navbar li{
        padding: .5rem 0;
    }
    #content h1{
        font-size: 3rem;
    }
    #about{
        flex-direction: column;
        align-items: center;
    }
    #about img{
        width: 80%;
    }
    #about-content{
        width: 80%;
    }
    #features{
        flex-direction: column;
        align-items: center;
    }
    .card{
        width: 100%;
        padding: 2rem;
    }
    #promo{
        flex-direction: column;
    }
    #offer{
        text-align: center;
    }
    .btn{
        margin-top: 1rem;
    }
    #footer{
        flex-direction: column;
        align-items: center;
    }
    #about-us{
        text-align: center;
        width: 100%;
    }
    #links{
        padding: 1rem 0;
    }
    #burger{
        display: block;
    }
    .height{
        height: 61px;
    }
    .visibilty{
        display: none;
    }
}